<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/6c0a6ecd-bb0d-40aa-91cf-25cd0cd13f08/resourceGroups/SchoolSIMS2/providers/Microsoft.Web/sites/msa-StudentSIMS2-WebApp</ResourceId>
    <ResourceGroup>SchoolSIMS2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://msa-studentsims2-webapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>msa-studentsims2-webapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>msa-StudentSIMS2-WebApp</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$msa-StudentSIMS2-WebApp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>